.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-bg-main);
  padding: 0 20px;
  padding-top: 86px;
}

.hero-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-text {
  flex: 1;
  max-width: 600px;
  animation: fadeInUp 1s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-text h1 {
  font-family: var(--font-primary);
  font-size: 4rem;
  color: var(--color-text-primary);
  line-height: 4rem;
}

.hero-role {
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  letter-spacing: 8px;
  font-weight: 300;
  color: var(--color-primary);
  text-transform: uppercase;
}

.hero-crp {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--color-text-secondary);
  margin-bottom: 20px;
}

.hero-description {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-primary {
  padding: 12px 28px;
  border-radius: 50px;
  background: var(--color-primary);
  color: var(--color-text-light);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
  font-family: var(--font-secondary);
  border: 1px solid var(--color-primary);
}

.btn-secondary {
  padding: 12px 28px;
  border-radius: 50px;
  background: transparent;
  color: var(--color-primary);
  font-weight: 600;
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-secondary);
  border: 1px solid var(--color-primary);
}

.btn-secondary i {
  transition: transform 0.3s ease;
}

.btn-secondary:hover i {
  transform: translateX(5px); /* move 5px para a direita ao passar o mouse */
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: fadeIn 1s ease forwards;
}

.hero-image img {
  max-width: 80%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }

  .hero-text {
    justify-content: center;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-role {
    font-size: 1.2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    max-width: 50%;
  }
}
